<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4" style="margin: auto;">
            <div class="form-header jqx-widget-header jqx-window-header" style="background:#e0eaf5 !important; border:1px solid #a8bace !important;">
                <h2>{{loginType}} Login</h2>
            </div>
            <div class="form-container" style="background:#e0eaf5 !important;border:1px solid #a8bace !important;">
                <img src="assets/images/logo.png" width="150px" class="user-avatar" />
                <form role="form" name="loginForm" [formGroup]="loginForm">
                    <div class="form-content">
                        <div class="row" *ngIf="msgText">
                            <div class="alert alert-danger" role="alert" style="padding:0.2rem !important; text-align: center; width: 100%;">
                                <p style="margin-bottom: 0rem;font-size: 0.8rem;"> {{ msgText }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="userName" class="col-sm-3 col-form-label">Username</label>
                            <div class="col-sm-9" style="text-align: left;">
                                <jqxInput formControlName="Username" #username class="name" [height]="23" [width]="200">
                                </jqxInput>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="userPassword" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9" style="text-align: left;">
                                <jqxPasswordInput formControlName="Password" #password class="password" [height]="23" [width]="200"></jqxPasswordInput>
                            </div>
                        </div>
                    </div>
                    <jqxButton (click)="login(loginForm.value)" [disabled]="!loginForm.valid" style="margin-right: 5px;" [width]="100" [theme]="'energyblue'">
                        Login
                    </jqxButton>
                </form>
            </div>
        </div>
    </div>
</div>