.navbar {
    border: 1px solid #cccccc;
    background: #fafafa !important;
}

@media only screen and (min-width: 600px) {
    .nav-item {
        border-right: 1px solid #f2f2f2;
        border-left: 1px solid #f2f2f2;
    }
}

@media only screen and (max-width: 600px) {
    .nav-item {
        border-bottom: 1px solid #f2f2f2;
        width: 328px !important;
    }
    
    .user {
        text-align: center;
    }
}

i {
    margin-right: 10px;
}

.nav-item {
    width: 130px;
    text-align: center;
}

.pull-right {
    float: right;
}

.navbar-nav {
    width: 50%;
}

.user {
    margin-right: 10px;
}