/* You can add global styles to this file, and also import other style files */
fieldset {
    margin: 0;
    padding: 10px;
    border: 1px solid #1C5FA1;
    border-radius: 3px;
  }
  
  legend {
    width: auto;
    margin: 0px 15px;
    padding: 0px 5px 5px;
    border: medium none;
    color: #062645;
    font-size: 18px;
  }
  
  label {
    color: #173654;
    font-size: 12px;
    margin-bottom: 1px;
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
  }
  
  .form-control {
    height: 28px !important;
    border-radius: 0px;
    padding: 3px 6px;
    margin-bottom: 5px;
    font-size: 12px;
    box-shadow: none;
  }	    