<app-dairy-navbar></app-dairy-navbar>
<div class="container">
    <div class="col-lg-12"><h1>My Card <a class="btn icon-btn btn-primary pull-right" [routerLink]="['/dairy/members/add']" routerLinkActive="router-link-active">Add New Member</a></h1></div>
  <div class="row">
    <div class="card col-md-6 col-sm-12">
      <!-- <div class="card-header">
        Nishan
      </div> -->
      <div class="card-body">
        <img src="assets/images/man.png">
        <h5 class="card-title">Nishan Dhungana</h5><hr>
        <div class="row">
            <ul style="list-style-type:none;">
              <li style="color: red;">Member Type: <span>Chairman</span></li>
              <li>Contact: <span>+977-9861211775</span></li>
              <li>Addres: <span>Panchkhal-7 Hokse Kavre</span></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>